{% extends 'base.html.twig' %}

{% block body %}
    {% block topMenu %}
        {{ renderMenu() }}
    {% endblock topMenu %}
    <div class="container">
        <hr>
        <div class="card bg-light">
            <div class="card-body {% block additionalContentClasses %}mx-auto{% endblock additionalContentClasses %}" style="min-width: 400px;">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock body %}