<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{ site_title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-md-auto d-md-flex">
            {% for element in menuElements %}
                <li class="nav-item">
                    <a class="nav-link {% if element.active %}active{% endif %}" href="{{ element.route }}">{{ element.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>