{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <h1>Change password</h1>
    {% if tokenError is not defined %}
        {{ form_start(changePasswordForm) }}
        {{ form_row(changePasswordForm.plainPassword) }}

        <button class="btn">Submit</button>
        {{ form_end(changePasswordForm) }}
    {% else %}
        {{ tokenError | trans }}
    {% endif %}
{% endblock %}
