{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <h1>Reset password</h1>

    {% if mailSent == false %}
        {{ form_start(resetPasswordForm) }}
            {{ form_row(resetPasswordForm.email) }}

            <button class="btn">Send reset email</button>
        {{ form_end(resetPasswordForm) }}
    {% else %}
        {{ 'security.resetPassword.sent' }}
    {% endif %}
{% endblock %}
